<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-content>
      <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
        
        <ion-button expand="block" (click)="login()">Create account</ion-button>        
      </form>
    </ion-card-content>
  </ion-card>  
</ion-content>
